@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],input[type="password"],
input[type="email"],input[type="number"],
input[type="tel"],
textarea{
    @apply w-full border my-1 py-2 px-3 rounded-2xl;
}
textarea{
    height: 140px;
}
button{
    @apply bg-gray-300;
}
button.primary{
    background-color: #ca3c9f;
    @apply p-2 w-full text-black rounded-2xl;
}

.custom-link {
    color: inherit;
    text-decoration: none;
}

.custom-link:hover {
    color:rgb(38, 156, 71);
    text-decoration: none;
}

.countNumber{
    color:rgb(38, 156, 71);
}
